In [1]:
import numpy as np
import pandas as pd

In [2]:
input_file_aggr = 'Weighted_paths_0.65_corrected_aggr' # this is the 'output_file_1.evaluated.filtered_0.67' file
input_file_non_aggr = 'Weighted_paths_0.65_corrected_non_aggr'
ranking_file_aggr = 'alpha_0.65_corrected_aggr.desc'
ranking_file_non_aggr = 'alpha_0.65_corrected_non_aggr.desc'
N = 100 # Only a gene that is in the top N of aggresive or non-aggresive (or both) is considered
output_file = 'subnetwork_0.65_corrected_difference_aggr_non_aggr'+str(N)+'.js'

In [3]:
df_aggr = pd.read_csv(input_file_aggr,sep='[',skiprows=0,header=None)

In [4]:
df_non_aggr = pd.read_csv(input_file_non_aggr,sep='[',skiprows=0,header=None)

In [5]:
def ParseDataframe(df):
    df = df.rename(columns={0: 'path_weight', 1: 'genes_path'})
    df[['gene1','gene2','gene3']] = df['genes_path'].str.split(',',expand=True)
    df[['gene3','brol']] = df['gene3'].str.split(']',expand=True)
    df = df.drop(['brol','genes_path'], axis=1)
    df[['path_weight','brol']] = df['path_weight'].str.rsplit('-',1,expand=True)
    df = df.drop(['brol'], axis=1)
    return df

In [6]:
df_aggr = ParseDataframe(df_aggr)
df_aggr

/tmp/ipykernel_17117/683794502.py:6: FutureWarning: In a future version of pandas all arguments of StringMethods.rsplit except for the argument 'pat' will be keyword-only.
  df[['path_weight','brol']] = df['path_weight'].str.rsplit('-',1,expand=True)

                   path_weight    gene1     gene2      gene3
0         6.913924579682539e-9   'JAK1'  'RPS27A'     'TP53'
1          6.91394718321905e-9    'MET'  'RPS27A'     'TP53'
2         6.915061333081666e-9  'RUNX3'  'RPS27A'     'TP53'
3         6.915511524940828e-9  'FANCM'  'RPS27A'     'TP53'
4         6.915904177424117e-9  'ZNRF3'  'RPS27A'     'TP53'
...                        ...      ...       ...        ...
2988802  0.0008377924550676475  'KLK14'  'SPINK6'    'KLK12'
2988803  0.0008377924550676475   'KLK5'  'SPINK6'    'KLK12'
2988804  0.0010785044231135148    'BSG'     'SPN'  'SIGLEC1'
2988805  0.0010785044231135148   'SELE'     'SPN'  'SIGLEC1'
2988806  0.0014275448865709033  'EP300'  'ARID5B'     'PHF2'

[2988807 rows x 4 columns]

In [7]:
df_non_aggr = ParseDataframe(df_non_aggr)
df_non_aggr

/tmp/ipykernel_17117/683794502.py:6: FutureWarning: In a future version of pandas all arguments of StringMethods.rsplit except for the argument 'pat' will be keyword-only.
  df[['path_weight','brol']] = df['path_weight'].str.rsplit('-',1,expand=True)

                    path_weight     gene1     gene2       gene3
0         2.3694198740483993e-9   'SYNJ1'  'RPS27A'      'DVL2'
1         2.4614985340853537e-9  'TRIM69'  'RPS27A'     'PSMC5'
2         2.4855386267326423e-9     'LYN'  'RPS27A'     'PSMC5'
3         2.5069075017698555e-9  'TRIM69'  'RPS27A'      'DVL2'
4         2.5081800171847185e-9    'WNK1'  'RPS27A'     'PSMC5'
...                         ...       ...       ...         ...
9529827  0.00022555979401308617   'EP300'  'ARID5B'      'PHF2'
9529828  0.00023904597429109115   'EP300'    'OPA1'      'OMA1'
9529829  0.00027713655631736125   'ATP4A'   'ATP4B'    'ATP12A'
9529830   0.0003342975443029915    'APOB'   'STAB1'     'SPARC'
9529831  0.00041942371916714986   'EP300'    'LCN2'  'SLC22A17'

[9529832 rows x 4 columns]

In [8]:
df_ranking_aggr = pd.read_csv(ranking_file_aggr,sep='[',skiprows=0,header=None)
df_ranking_non_aggr = pd.read_csv(ranking_file_non_aggr,sep='[',skiprows=0,header=None)

In [9]:
ranking_genes_aggr = df_ranking_aggr[0].values.tolist()
ranking_genes_non_aggr = df_ranking_non_aggr[0].values.tolist()
df_ranking_top_aggr = df_ranking_aggr[0:N]
df_ranking_top_non_aggr = df_ranking_non_aggr[0:N]
top_genes_aggr = df_ranking_top_aggr[0].values.tolist()
top_genes_non_aggr = df_ranking_top_non_aggr[0].values.tolist()
top_genes2_aggr = []
top_genes2_non_aggr = []
for i in top_genes_aggr:
    a = '\''+i+'\''
    top_genes2_aggr.append(a)
for i in top_genes_non_aggr:
    a = '\''+i+'\''
    top_genes2_non_aggr.append(a)

In [10]:
top_genes_together = []
for i in top_genes_aggr:
    top_genes_together.append(i)
for i in top_genes_non_aggr:
    if i not in top_genes_together:
        top_genes_together.append(i)
        
top_genes2_together = []
for i in top_genes2_aggr:
    top_genes2_together.append(i)
for i in top_genes2_non_aggr:
    if i not in top_genes2_together:
        top_genes2_together.append(i)

In [11]:
print(len(top_genes_aggr))
print(len(top_genes_non_aggr))
print(len(top_genes_together))
top_genes_together

5
5
7

['EP300', 'TP53', 'GNB1', 'PRKACA', 'ARRB2', 'STAT1', 'STAT2']

In [12]:
df_final_aggr = df_aggr[df_aggr['gene1'].isin(top_genes2_together) | df_aggr['gene2'].isin(top_genes2_together) | df_aggr['gene3'].isin(top_genes2_together)]
df_final_aggr

                   path_weight    gene1     gene2    gene3
0         6.913924579682539e-9   'JAK1'  'RPS27A'   'TP53'
1          6.91394718321905e-9    'MET'  'RPS27A'   'TP53'
2         6.915061333081666e-9  'RUNX3'  'RPS27A'   'TP53'
3         6.915511524940828e-9  'FANCM'  'RPS27A'   'TP53'
4         6.915904177424117e-9  'ZNRF3'  'RPS27A'   'TP53'
...                        ...      ...       ...      ...
2988260  5.2058134179561066e-5   'TP53'   'BRPF1'  'KAT6A'
2988414   6.562120525049657e-5   'TP53'    'PAX8'    'TPO'
2988424   6.907210082644813e-5   'TP53'    'KAT8'   'MSL2'
2988502   7.528711870402064e-5  'EP300'    'PFKL'   'PFKP'
2988806  0.0014275448865709033  'EP300'  'ARID5B'   'PHF2'

[307736 rows x 4 columns]

In [13]:
df_final_non_aggr = df_non_aggr[df_non_aggr['gene1'].isin(top_genes2_together) | df_non_aggr['gene2'].isin(top_genes2_together) | df_non_aggr['gene3'].isin(top_genes2_together)]
df_final_non_aggr

                    path_weight      gene1     gene2       gene3
7         2.5400036182722707e-9     'LIG1'   'EP300'      'CCNH'
8         2.5412785935560394e-9  'RAPGEF2'   'EP300'      'CCNH'
10        2.5552963399421117e-9   'ARID1A'   'EP300'      'CCNH'
15         2.572231472058846e-9    'FANK1'   'EP300'      'CCNH'
21         2.597034771208936e-9     'BCL9'   'EP300'      'CCNH'
...                         ...        ...       ...         ...
9529753  0.00010103338153463095    'EP300'    'FIG4'     'VAC14'
9529788  0.00011454738527562468    'EP300'   'PLOD2'     'PLOD3'
9529827  0.00022555979401308617    'EP300'  'ARID5B'      'PHF2'
9529828  0.00023904597429109115    'EP300'    'OPA1'      'OMA1'
9529831  0.00041942371916714986    'EP300'    'LCN2'  'SLC22A17'

[917028 rows x 4 columns]

In [14]:
def calculateEdges(df,df_final,top_genes,top_genes2):
    edges = {}
    Normalization = sum(df['path_weight'].astype(float)) # Explained in the paper of OMEN
    for i in range(N):
        for j in range(N-1-i):
            node1 = top_genes[i]
            node2 = top_genes[i+1+j]
            nodes = []
            nodes.append(top_genes2[i])
            nodes.append(top_genes2[i+1+j])
            df_edge = df_final[ (df_final['gene1'].isin(nodes) & df_final['gene2'].isin(nodes)) | (df_final['gene1'].isin(nodes) & df_final['gene3'].isin(nodes)) | (df_final['gene2'].isin(nodes) & df_final['gene3'].isin(nodes))]
            s = sum(df_edge['path_weight'].astype(float))/Normalization
            if s>0:
                edges[(node1,node2)] = s*100000 # to have bigger values
    return edges

In [15]:
edges_aggr = calculateEdges(df_aggr,df_final_aggr,top_genes_together,top_genes2_together)

In [16]:
edges_non_aggr = calculateEdges(df_non_aggr,df_final_non_aggr,top_genes_together,top_genes2_together)

In [17]:
edges_aggr

{('EP300', 'TP53'): 8.080016928174267,
 ('EP300', 'PRKACA'): 2.987071258782131,
 ('TP53', 'GNB1'): 0.2267693711727668,
 ('TP53', 'PRKACA'): 0.3284295745758226,
 ('TP53', 'ARRB2'): 0.1181618645151114,
 ('GNB1', 'PRKACA'): 2.539934840197379}

In [18]:
edges_non_aggr

{('EP300', 'TP53'): 3.371480322008594,
 ('EP300', 'PRKACA'): 2.5107671999968892,
 ('GNB1', 'PRKACA'): 1.8469737310686765}

In [19]:
print(len(edges_aggr))
print(len(edges_non_aggr))

6
3

In [20]:
edges_difference_weight = {} # weight = weight aggressive - weight non-aggressive
for i in edges_aggr:
    if i in edges_non_aggr:
        edges_difference_weight[i] = edges_aggr[i]-edges_non_aggr[i]
    else:
        edges_difference_weight[i] = edges_aggr[i]
for i in edges_non_aggr:
    if i not in edges_difference_weight:
        edges_difference_weight[i] = -edges_non_aggr[i]
print(len(edges_difference_weight))
edges_difference_weight

6

{('EP300', 'TP53'): 4.708536606165673,
 ('EP300', 'PRKACA'): 0.47630405878524185,
 ('TP53', 'GNB1'): 0.2267693711727668,
 ('TP53', 'PRKACA'): 0.3284295745758226,
 ('TP53', 'ARRB2'): 0.1181618645151114,
 ('GNB1', 'PRKACA'): 0.6929611091287025}

In [21]:
df_edges_difference_weight = pd.DataFrame.from_dict(edges_difference_weight,orient='index',columns=['Difference'])
df_edges_difference_weight = df_edges_difference_weight.sort_values(by=['Difference'],ascending=False)
df_edges_difference_weight

                 Difference
(EP300, TP53)      4.708537
(GNB1, PRKACA)     0.692961
(EP300, PRKACA)    0.476304
(TP53, PRKACA)     0.328430
(TP53, GNB1)       0.226769
(TP53, ARRB2)      0.118162

In [23]:
with open(output_file,'w') as f:
    f.write('graph = {')
    f.write('\n')
    f.write('    nodes: [')
    f.write('\n')
    for i in range(len(top_genes_together)):
        f.write('        {') 
        f.write('\n')
        f.write('            id: ' + top_genes2_together[i] + ',') 
        f.write('\n')
        f.write('            rank_aggr: ' + str(1+ranking_genes_aggr.index(top_genes_together[i])) + ',') 
        f.write('\n')
        f.write('            rank_non_aggr: ' + str(1+ranking_genes_non_aggr.index(top_genes_together[i])) + ',') 
        f.write('\n')
        f.write('        },') 
        f.write('\n')
    f.write('    ],')
    f.write('\n')
    f.write('    links: [')
    f.write('\n')
    for edge in edges_difference_weight:
        if edges_difference_weight[edge] > 0:
            f.write('        {source: "'+ edge[0] +'", target: "'+edge[1]+'", type: "pp_red", direction: "directed", max_cost: '+ str(edges_difference_weight[edge]) +', evidence: ""},')
        else:
            f.write('        {source: "'+ edge[0] +'", target: "'+edge[1]+'", type: "pp_blue", direction: "directed", max_cost: '+ str(-1*edges_difference_weight[edge]) +', evidence: ""},')
        f.write('\n')
    f.write('    ],')
    f.write('\n')
    f.write('}')
f.close()